/* Header */
.header {
	position: fixed;
	top: 30px;
	left: 0;
	width: 100%;
	z-index: 9999;
}
.header .inner-main {
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 25px 30px;
	border-radius: 45px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background: white;
}
.header .inner-main .inner-icon {
	display: none;
}
.header .inner-logo img {
	height: 30px;
	width: auto;
}
.header .inner-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.header .inner-menu ul li {
	margin-left: 45px;
}
.header .inner-menu ul li a {
	font-size: 13px;
	font-weight: 500;
}
.header .inner-menu ul li a:hover {
	color: var(--color-two);
}
@media (max-width: 991.98px) {
	.header .inner-menu {
		display: none;
	}
	.header .inner-main .inner-icon {
		display: block;
		font-size: 24px;
	}
}
/* End header */
/* Section 1 */
.section1 {
	background-image: url(../image/banner-bg.png);
	height: 111vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.section1 .inner-wrap {
	text-align: center;
	max-width: 540px;
	margin: 0 auto;
}
.section1 .inner-title {
	font-size: 36px;
	color: white;
	letter-spacing: 1.4px;
	margin-bottom: 30px;
	line-height: 54px;
}
.section1 .inner-desc {
	font-size: 15px;
	color: white;
	letter-spacing: 0.25px;
	margin-bottom: 40px;
	line-height: 28px;
}
@media (max-width: 767.98px) {
	.section1 .inner-title {
		font-size: 20px;
	}
	.section1 .inner-desc {
		font-size: 13px;
	}
}
/* End section 1 */
/* Section 2 */
.section2 {
	margin-top: -220px;
}
.section2 .inner-box {
	-webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
	background: white;
	border-radius: 15px;
	padding: 30px;
	text-align: center;
	margin-bottom: 30px;
}
.section2 .inner-box .inner-icon {
	background: var(--color-one);
	padding: 20px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	width: 80px;
	height: 80px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-radius: 50%;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.section2 .box:hover .inner-icon {
	background: var(--color-two);
}
.section2 .box:hover{
	cursor: pointer;
}
.section2 .inner-box .inner-icon img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}
.section2 .inner-box .inner-title {
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 15px;
}
.section2 .inner-box .inner-desc {
	font-size: 13px;
	margin-bottom: 0;
	max-width: 290px;
	letter-spacing: 0.5px;
}
@media (max-width: 991.98px) {
	.section2 {
		margin-top: 0;
	}
}
/* End section 2 */
/* Section 3 */
.section3 {
	margin-top: 80px;
	margin-bottom: 80px;
}
.section3 .inner-image {
	text-align: center;
}
.section3 .inner-image img {
	max-width: 100%;
	height: auto;
}
.section3 .inner-content .inner-title {
	font-size: 28px;
	margin-bottom: 25px;
}
.section3 .inner-content .inner-desc {
	color: #777780;
}
.section3 .inner-border-bottom {
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 80px;
	margin-bottom: 80px;
}
@media (max-width: 991.98px) {
	.section3 .inner-image {
		margin-bottom: 30px;
	}
}
/* End section 3 */
/* Work Process */
.work-process {
	background-image: url(../image/work-process-bg.png);
	padding: 100px 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.work-process .box-head .inner-title,
.work-process .box-head .inner-desc {
	color: white;
	max-width: 540px;
}
.work-process .box-head .inner-title {
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}
.work-process .box-head .inner-desc {
	margin-bottom: 60px;
}
.work-process .inner-box {
	text-align: center;
	background-color: white;
	border-radius: 15px;
	padding: 20px;
	-webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
	        box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
	position: relative;
	cursor: pointer;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	margin-bottom: 30px;
	display: block;
}
.work-process .inner-box:hover {
	translate: 0px -10px;
}
.work-process .inner-box::before {
	content: "";
	background: white;
	z-index: 10;
	width: 100%;
	opacity: 0.15;
	height: 100%;
	bottom: -10px;
	left: 0px;
	margin: auto;
	right: -20px;
	border-radius: 15px;
	position: absolute;
}
.work-process .inner-icon i {
	font-size: 32px;
	color: var(--color-one);
}
.work-process .inner-box .inner-title {
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 5px;
	color: #1e1e1e;
	font-weight: 400;
}
.work-process .inner-box .inner-desc {
	font-size: 14px;
	color: #777777;
	max-width: 120px;
	letter-spacing: 0.75px;
}
/* End work process */
/* What do */
.what-do {
	padding: 80px 0;
}
.what-do .box-head .inner-title {
	font-size: 28px;
	margin-bottom: 20px;
}
.what-do .box-head .inner-desc {
	color: #777777;
	font-size: 15px;
	margin-bottom: 50px;
}
.what-do .inner-box {
	background: white;
	-webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
	        box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	position: relative;
	margin-bottom: 30px;
	padding: 30px;
	height: 90%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.what-do .inner-box .inner-icon {
	text-align: center;
	margin-bottom: 30px;
}
.what-do .inner-box .inner-desc {
	font-size: 16px;
	color: #777777;
	margin-bottom: 25px;
}
.what-do .inner-box .inner-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.what-do .inner-box .inner-info .inner-img img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.what-do .inner-box .inner-info .inner-content {
	margin-left: 20px;
	padding-top: 7px;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.what-do .inner-box .inner-info .inner-content .inner-name {
	font-size: 17px;
	margin-bottom: 5px;
	font-weight: 400;
}
.what-do .inner-box .inner-info .inner-content .inner-position {
	font-size: 15px;
	color: #ff589e;
}
.what-do .inner-box:hover .inner-info .inner-content{
	translate: 10px 0;
}
/* End what do */
/* Pricing plans */
.pricing-plan {
	padding: 80px 0;
	background-color: #f2f2fe;
}
.pricing-plan .box-head .inner-title {
	font-size: 28px;
	margin-bottom: 20px;
}
.pricing-plan .box-head .inner-desc {
	color: #777777;
	font-size: 15px;
	margin-bottom: 50px;
}
.pricing-plan .inner-box {
	background: white;
	-webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
	        box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	position: relative;
	margin-bottom: 30px;
	padding: 30px;
	text-align: center;
}
.pricing-plan .inner-box .inner-title {
	font-size: 18px;
	margin-bottom: 15px;
}
.pricing-plan .inner-box ul {
	list-style-type: none;
	padding: 0;
}
.pricing-plan .inner-box .inner-desc {
	font-size: 13px;
	color: #7a7a7a;
	margin-bottom: 44px;
}
.pricing-plan .inner-box .inner-desc ul li {
	margin-bottom: 12px;
}
.pricing-plan .inner-box .inner-desc .feature-none {
	text-decoration: line-through;
}
.pricing-plan .inner-pricing {
	background-color: var(--color-one);
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 5px;
	border-radius: 25px;
	margin-bottom: 40px;
}
.pricing-plan .premium {
	background-color: var(--color-two);
}
.pricing-plan .inner-pricing .inner-dollar {
	font-size: 32px;
	font-weight: 500;
}
.pricing-plan .inner-pricing .inner-money {
	font-size: 28px;
	font-weight: 500;
}
.pricing-plan .inner-pricing .inner-month {
	font-size: 16px;
}
/* End pricing plans */
/* Section 4 */
.section4 {
	background-image: url(../image/fun-facts-bg.png);
	padding: 80px 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.section4 .inner-box .inner-content {
	color: white;
}
.section4 .inner-box .inner-number {
	font-size: 32px;
	font-weight: 700;
}
.section4 .inner-box {
	position: relative;
	text-align: center;
}
.section4 .inner-box::before {
	content: "";
	background-image: url(../image/circle-dec.png);
	display: block;
	width: 100px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: absolute;
	left: 85%;
	top: 45%;
}
.section4 .last-data .inner-box::before {
	display: none;
}
.section4 .inner-box:hover .inner-content {
	-webkit-transform: translate(0, -10px);
	-ms-transform: translate(0, -10px);
	transform: translate(0, -10px);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
@media (max-width: 991.98px) {
	.section4 .inner-box::before {
		display: none;
	}
	.section4 .inner-box {
		text-align: center;
		margin: 20px 0;
	}
}
/* End section 4 */
/* Section 5 */
.section5 {
	padding-top: 80px;
	padding-bottom: 80px;
}
.section5 .inner-content {
	margin-top: 10px;
	padding: 10px;
	text-align: center;
}
.section5 .inner-box {
	margin-bottom: 30px;
}
.section5 .inner-content .inner-title {
	font-size: 22px;
	margin-bottom: 10px;
}
.section5 .inner-content .inner-desc {
	font-size: 13px;
	color: #777780;
}
.section5 .inner-box .inner-image img {
	width: 100%;
	height: auto;
}
@media (max-width: 767.98px) {
	.section5 .inner-image {
		max-width: 350px;
		margin: 0 auto;
	}
}
/* End section 5 */
/* Form */
.talk-to-us {
	background: #f2f2fe;
	padding: 100px 0;
}
.talk-to-us .box-head .inner-title {
	font-size: 28px;
}
.talk-to-us .box-head .inner-desc {
	color: #777777;
	font-size: 15px;
}
.talk-to-us .inner-content .inner-title {
	font-size: 18px;
	margin-bottom: 30px;
}
.talk-to-us .inner-content p {
	font-size: 14px;
	color: #6f8ba4;
	margin-bottom: 28px;
}
.talk-to-us .inner-form input,
.talk-to-us .inner-form textarea {
	width: 100%;
	padding: 15px;
	min-height: 15px;
	margin-bottom: 15px;
	border-radius: 25px;
	border: none;
	background: white;
	resize: none;
}
.talk-to-us .inner-form input:focus,
.talk-to-us .inner-form textarea:focus {
	outline: 0;
	-webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.talk-to-us .inner-form input {
	height: 50px;
}
.talk-to-us .inner-form textarea {
	height: 150px;
}
/* End form */
/* Footer */
.footer {
	background-image: -o-linear-gradient(323deg, #a759d1 0%, #8261ee 91%);
	background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
	padding: 30px 0;
}
.footer .social {
	list-style-type: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-bottom: 1px solid #eeeeee51;
	padding-bottom: 20px;
}
.footer .social li a {
	margin-right: 35px;
	width: 30px;
	height: 30px;
	background-color: white;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: var(--color-one);
	font-size: 16px;
}
.footer .social li a:hover {
	background-color: var(--color-two);
	color: white;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}
.footer .inner-desc {
	color: white;
	text-align: center;
}
/* End footer */